* {
  margin: 0;
  padding: 0;
}
body {
  background: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 500px;
  height: 547px;
  border: 2.5px solid #07182e ;
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-bottom: 5px solid #07182e;
}
.controls {
  width: 250px;
  height: 553px;
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
}
.controls::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(
    180deg,
    lime,
    #ff0000
  );
  height: 135%;
  animation: rotate 3s linear infinite;
  transition: all 0.2s linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.controls::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
}
.row1,.row2,.row3,.row4,.row5,.row6,.row7,.row8,.row9,.row10,.row11,.row12,.row13,.row14,.row15,.row16,.row17
{
  display: flex;
}
.box
{
  width: 30px;
  height: 30px;
  background: yellow;
  border: 1px solid black;
  position: relative;
  top: 15px;
  border-radius: 5px;
  box-shadow: inset -5px 5px 7px yellow,
  inset 5px -5px 7px #ffffff;
  visibility: hidden;
}
