#warp
{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 2rem;
    background-color: white;
}

button
{
    position: absolute;
    top: 45%;
    width: 150px;
    height: 50px;
    font-size: 1.6rem;
    font-family: cursive;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 2px 2px;
    cursor:pointer;
}

.box
{
    box-shadow: 0 3px 6px rgba(1, 15, 29, 0.5);
    background-color: white;
    width: 100%;
    font-size: 2.3rem;
    color: crimson;
    font-family:cursive;
}


span
{
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgb(55, 101, 10);
    font-family: 'Times New Roman', Times, serif;
}

button:hover
{
    color: white;
}

button:active
{
    position: absolute;
    top: 46%;
}