body
{
    font-family: sans-serif;
    background-color: #03def0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    background-color: #dcb131;
    padding: 10px 24px;
    border-radius: 20px;
    width: 490px;
}

h1{
    color: #4805ce;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}
.box
{
    width: 100%;
    display: flex;
}
.box div{
    width: 100%;
}

select
{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #06b474;
    outline: none;
    color: black;
    border: none;
    border-radius: 10px;
    margin: 0.2em 0;
    padding: 0 1em;
}

input{
    width: 81%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 1em;
}
.currency,input
{
    text-align: center;
}