body/*background*/
{
    background: url("/Media/one-piece\ pic5.png"); /*background image*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.regform/*sign-up box*/
{
    width: 400px; /*width of the sign-up box*/
    margin: 90px auto; /*alignment of the box, auto=> left & right, 200px is top space*/
    color: whitesmoke;/*color of the letter*/
    background-color: rgba(49, 253, 80, 0.5);/*color of the box*/
    padding: 10px 20px 20px 10px;/*space b/w the elements*/
    font-size: 23px;/*size of the letter in the box*/
    border-radius: 10px;/*corner curve*/
}

h3/*Heading: Sign Up*/
{
  color:rgb(236, 71, 17);
  text-align: center;
}

.i1/*separate box and box name*/
{
    display: block;/*it turns the element into block like headline tag*/
}

.i2/*input box*/
{
    width: 100%;
    font-size: 1em; /*box size according to the font size*/
    border: 2px solid darkblue;
    box-shadow: 2px;
    border-radius: 10px;/*input box corner curve*/
    padding: 10px 10px;/*space between letter and input box*/
    box-sizing: border-box;/*it control the letter within 100%-width*/
    margin: 5px 0px 15px;
}

input:focus/*focus when font is enter*/
{
    background-color: rgb(228, 244, 6);/*it change the bgcolor when data is entered*/
}

.button
{
    text-align: center;
    /* border: 100px red; */
    
}
button
{
    font-size: 23px;
    color: white;
    background-color: black;
    margin: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 5px;
}

.radio input
{
    transform: scale(1.5);
    accent-color: red;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}