body
{
    background-color: chartreuse;
}
/* another method for grid positioning */
.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    "b1 b1 b1 b3"
    "b2 b4 b4 b4";
}
.bo1
{
    grid-area: b1;
}
.bo2
{
    grid-area: b2;
}

.bo3
{
    grid-area: b3;
}

.bo4
{
    grid-area: b4;
}


.layout div
{
display: grid;
justify-content: center;
align-items: center;
border: 1px solid rgb(255, 0, 0);
font-size: 2rem;
}





.project
{
    width: 500px;
    height: 500px;
    background-color: chocolate;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    grid-template-rows: 10vh 1fr 10vh;/*first row size*/
    border: 3px solid white;
}
.box
{
    background-color: rgb(130, 61, 241);
    color: white;
    font-size: 1.25rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2.5px solid black;
}
#b1,#b5
{
    grid-column: 1/4;
    /* to expand the column */
    /* start - 1 and end - 4 */

    /* FOR ROWS -> to expand the row */
    /* grid-row: 1/3; */
}
#b1
{
    margin-top: 5px;
}
#b5
{
    margin-bottom: 5px;
}

.container
{
    display: grid;
    grid-template-columns: repeat(4,200px);
    /* 200px 1fr 300px => px are constant and 1fr is alike auto*/
    /*1fr => to create the column (1:1:1) or auto  */

    /* grid-template-columns: repeat(4,200px); */
    /* it repeat the grid in [no. of times(4),200px or 2fr or 30%]*/
   
   /* column-gap: 10px;
    row-gap: 10px;*/
    gap: 10px;
}
.para
{
    padding: 10px;
    background-color: steelblue;
    color: white;
}