*
{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
img
{
    width: 100%;
    height: 100%;
}



/* .pointer2{
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid blue;
    border-radius: 50px;
    left: 260px;
    top: 333px;
    background-color: aliceblue;
}
.pointer3{
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid blue;
    border-radius: 50px;
    left: 283px;
    top: 345px;
    background-color: aliceblue;
}
.pointer4{
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid blue;
    border-radius: 50px;
    left: 292px;
    top: 370px;
    background-color: aliceblue;
}
.pointer5{
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid blue;
    border-radius: 50px;
    left: 292px;
    top: 370px;
    background-color: aliceblue;
} */