*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* for align-items, we need to give the screen height */
    min-height: 100vh;
    background: #2b2b2b;
}

label
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input
{
    position: absolute;
    /*opacity:0; => to disappear the checkbox */
    opacity: 0;
}


.sunny
{
    position: absolute;
    font-size: 3rem;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0,0,0,.5));
    transform: scale(0);
    transition: 1s ease;
}

input:checked~.sunny
{
    transition-delay: .8s;
    transform: scale(1) rotate(360deg);
}

.moon
{
    font-size: 3rem;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0,0,0,.5));
    transition: 1s ease;
    transition-delay: .8s;
}

input:checked~.moon
{
    transition-delay: 0s ;
    /* scale() => determine the size of object */
    /* scale(0) => to minimize the object(disappear) */
    /* scale(10) => to maximize the object(bigger) */
    transform: rotate(360deg) scale(0);
}

/* moon toggle button style */
.toggle
{
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    background: #2b2b2b;
    border-radius: 50%;
    box-shadow: 
        inset 0 800px 60px rgba(0, 0, 0, .1),
        inset 0 8px 8px rgba(0, 0, 0, .1),
        inset 0 -4px 4px rgba(0, 0, 0, .1);
    z-index: -1;
    /* animation of background to whitesmoke(#f8f8f8) */
    transition: 1s;
}
/* "~" => "=(.toggle)" */
/* if input is checked, the ".toggle" is changed */
input:checked~.toggle
{
    background: #f8f8f8;
}

.bg
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #f8f8f8;
    z-index: -2;
    clip-path: circle(0% at 50% 50%);
    transition: 1.5s ease-out;
}

input:checked~.bg
{
    /* circle(radius at left top */
    clip-path: circle(70.7% at 50% 50%);    
}