*
{
    margin: 0;
    padding: 0;
    /* to avoid adding the padding value to the width & height */
    box-sizing: border-box;
    /* it allocate the given width& height */
}

.background
{
    width: 100%; /* 100% equal to 100vw*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.background .logo
{
    width: 150px;
    height: max-content;
    /* max-content similar to wrap-content */
    display: flex;
    justify-content: space-between;
    /* gives equal space for inner content */
    /* it need 3 lines(| | |) for letter 'N' */
    position: relative;
    /* background: red; */
}

.brush1
{
    width: 50px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* from bottom to top */
    position: relative;
    animation: height 1s ease forwards;
    animation-delay: 4s;
}

.color1
{
    width: 100%;
    height: 0%;
    background-color: rgb(194, 0, 0);
    position: relative;
    z-index: 2;  /* to add stack position */
    /* 1 => logo, 2 => brush1 */
    animation: move 1s ease forwards;
}

.brush2
{
    width: 50px;
    height: 220px;
    display: flex;
    align-items: flex-end;
}
.color2
{
    width: 100%;
    height: 0%;
    background-color: rgb(194, 0, 0);
    animation: move 0.5s ease forwards;
    animation-delay: 1.5s;
} 

.brush3
{
    width: 50px;
    height: 0px;
    background-color: red;
    z-index: 2;
    position: absolute;
    transform: skew(24.4deg);
    transform-origin:top left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
    animation: move 0.5s ease forwards;
    animation-delay: 1s;
}

.lines
{
    width: max-content;
    height: 100%;
    display: none;
    justify-content: space-evenly;
    position: absolute;
    z-index: 0;
}

.line
{
    width: 1px;
    height: 100%;
    background: red;
    margin-right: 1px;
    animation: margin 2s linear forwards,bgcolor 0.2s linear forwards;
    animation-delay: 0.2s;
}

/* Forward animation for "N" */
@keyframes move 
{
    from{
        height: 0;
    }
    to{
        height: 220px;
    }
}

/* Backward animation for "N" */
@keyframes movedown
{
    from{
        height: 220px;
    }    
    to{
        height: 0;
    }
}

@keyframes opacity {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes margin {
    0%
    {
        width: 1px;
        margin-right: 1px;
        box-shadow: none;
    }
    100%
    {
        width: 40px;
        margin-right: var(--m);
        box-shadow: 0 0 5px rgb(172,172,172),0 0 50px var(--c);
    }
    
}

@keyframes bgcolor {
    0%
    {
        background: red;
    }
    30%
    {
        background: radial-gradient(circle, rgba(255, 0, 0, 1) 75%, rgba(0,0,0,0.545) 100%);
    }
    100%
    {
        background: var(--c);
    }
}

@keyframes height {
    0%
    {
        width: 50px;
        height: 220px;
    }
    100%
    {
        width: max-content;
        height: 100vh;
    }
}