@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #282539;
}
/* box => image box + content box */
.box
{
    /* shadow box size */
    position: relative;
    width: 120px;
    height: 300px;
    /* shadoe box position */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: .5s;
}
.box:hover
{
    height: 400px;
}
.c1:hover
{
    cursor: url(/images/Swan_cursor.png),auto;
}
.o1:hover
{
    cursor: url(/images/Falcon_Cursor.png),auto;
}
.d1:hover
{
    cursor: url(/images/Cow_Cursor.png),auto;
}

/* position of the image box */
.box .imgbox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.box .imgbox img
{
    width: inherit;
    height: 300px;
    opacity: 0.1;
    transition: 0.5s;
}
.box:hover .imgbox img
{
    opacity: 1;
}
.box:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #ffffff;
    z-index: -1;
}
.box:after
{ 
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #ffffff;
    z-index: -2;
    filter: blur(80px);
}
.box::before,.box::after
{
    background: linear-gradient(225deg,#89ff00,#010615,#00bcd4);
}
/* for another box */

.box:nth-child(2):before,.box:nth-child(2):after 
{
    background: linear-gradient(225deg,#ff005e,#010615,#fbff00);
}
.box .content
{
    position: absolute;
    bottom:10px;
    top: 300px;
    left: 10px;
    right: 10px; 
    /* width: 350px; */
    height: 90px;
    color: rgb(0, 255, 110);
    background: rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: .2s;
}
.box:hover .content
{
    opacity: 1;
}
.box .content h2{
    font-size: 1.7rem;
    columns: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
    font-family: "Stylish", sans-serif;
}

#ini{
    
    font-size: 1.5rem;
    color: rgb(190, 74, 185);
    font-weight: 200;
    /* letter-spacing: 2px; */
    line-height: 50px;
    font-family: "Splash", cursive;
}
#vis
{
    font-size: 1.5rem;
    color: rgb(74, 126, 190);
    font-weight: 200;
    /* letter-spacing: 2px; */
    line-height: 50px;
    font-family: "Splash", cursive;
}
#shi
{
    font-size: 1.5rem;
    color: rgb(186, 46, 51);
    font-weight: 200;
    /* letter-spacing: 2px; */
    line-height: 50px;
    font-family: "Splash", cursive;
}
.box .content h2 span
{

    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    font-weight: 200;
    /* letter-spacing: 2px; */
    line-height: 50px;
    font-family: "Splash", cursive;
}