*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #212121;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container
{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.boxer
{
    width: 120px;
    height: 120px;
    background-color: rgb(24, 233, 233);
    border: solid ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    cursor: pointer;
}
.xoBox
{
    width: 150px;
    height: 60px;
    margin-bottom: 30px;
    border: solid 3px antiquewhite;
    display: flex;
}
.xBox,.oBox
{
    width: 75px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-size: 25px;
    transition:  .5s;
}

.boxer:hover
{
    background-color:#ff0000;
}

.screen
{
    width: 100vw;
    height:  100vh;
    background: #212121;
    position: absolute;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display
{
    width: 500px;
    height: 100px;
    color: rgb(24, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 55px;
}

.play{
    width: 150px;
    height: 70px;
    background-color: rgb(24, 233, 233);
    color: #212121;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0px 0px 30px rgb(24, 233, 233);
}

.play:hover
{
    cursor: pointer;
    margin-top: 5px;
    background-color: #ff0000;
    box-shadow:  0px 0px 30px #ff0000;
}